<h2>Очистка формата</h2>

<p>
    Вставив документ с любым форматированием вы получите документ с одним форматированием.
</p>

<p>
    Пример файла для тестирования - <a href="/static/test1.xlsx" target="blank">скачать</a>
</p>

<form method="POST" action="/clear_format" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {{ form.file.label }} {{ form.file(size=20) }}
    <input type="submit" value="Load">
</form>

<a href="/" target="blank">на главную</a>