<h2>Выводит число листов в документе</h2>

<p>
    Вставив документ с любым числом листов вы получите их количество
</p>

<p>
    Пример файла для тестирования - <a href="/static/test3.xlsx" target="blank">скачать</a
</p>

<form method="POST" action="/count_lists" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {{ form.file.label }} {{ form.file(size=20) }}
    <input type="submit" value="Load">
</form>

<a href="/" target="blank">на главную</a>