<h2>Тестовый пример работы с экселем через микросервисное приложение</h2>

<p>
    <a href="/clear_format" target="blank">Пример 1. Очистка формата</a>
</p>

<p>
    <a href="/sum_on_first_list" target="blank">Пример 2. Суммирование всех значений на первом листе</a>
</p>

<p>
    <a href="/count_lists" target="blank">Пример 3. Подсчет числа листов</a>
</p>
