<h2>Суммирует все поля в документе</h2>

<p>
    Вставив документ с любым числом значений, без пропусков, вы получите сумму его значений
</p>

<p>
    Пример файла для тестирования - <a href="/static/test2.xlsx" target="blank">скачать</a
</p>

<form method="POST" action="/sum_on_first_list" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {{ form.file.label }} {{ form.file(size=20) }}
    <input type="submit" value="Load">
</form>

<a href="/" target="blank">на главную</a>